{% extends 'base.html' %}

{% block style %}

{% end %}
{% block content %}
<div class="row-fluid">
    <div id="template" style="display: none">
        <span class="filter_name"></span>
        <input type="text" placeholder="Field" list="field_list" class="field_value">
        <datalist id="field_list">
            {% for field in data_keys %}
            <option value="{{ field }}">
                {% end %}
        </datalist>
        <input type="text" placeholder="Min">
        <input type="text" placeholder="Max">
    </div>
    <form>
        <div class="col-sm-4 custom">
            <div id="filters">

            </div>
            <button type="button" class="btn btn-block btn-primary" id="add_filter">Add filter</button>
        </div>
    </form>
</div>
{% end %}


{% block script %}
<script>
    $(document).ready(function () {
        N = 0;
        limits = {
            {% for key, value in limits.items() %}
                '{{key}}' : ['{{value[0]}}', '{{value[1]}}'],
            {% end %}
        }
        $("#add_filter").click(function () {
            console.log("add filter");
            var template = $("#template").clone(true);
            template.attr("id", "filter" + N);
            template.css("display", "block");
            template.insertAfter("#filters:last");
            N++;
        });

        $(".field_value").change(function () {
            console.log("changed")
        })

    })
</script>
{% end %}

{% block style %}
<style>
    .action-buttons-div a {
        margin-right: 3px;
    }
</style>
{% end %}



