{% extends 'base.html' %}

{% block style %}

{% end %}
{% block content %}
<div class="row-fluid">
    <div id="template" style="display: none">
        <span class="filter_name"></span>
        <input type="text" placeholder="Field" list="field_list" class="field_value">
        <datalist id="field_list">
            {% for field in data_keys %}
                <option value="{{ field }}">
            {% end %}
        </datalist>
        <input type="text" placeholder="Min" class="min">
        <input type="text" placeholder="Max" class="max">
    </div>
    <form>
        <div class="col-sm-4 custom">
            <div id="filters">

            </div>
            <button type="button" class="btn btn-block btn-primary" id="add_filter">Add filter</button>
            <button type="button" class="btn btn-block btn-danger" id="apply_filter">Apply filter</button>
            <div class="progress progress-sm active">
                <div id="progress" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                  <span class="sr-only">20% Complete</span>
                </div>

            </div>
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
        </div>
    </form>
</div>
{% end %}


{% block script %}
<script>
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
           return null;
        }
        else{
           return results[1] || 0;
        }
    };
    $(document).ready(function () {
        N = 0;
        var True = true;
        var False = false;
        limits = {
            {% for key, value in limits.items() %}
                '{{key}}': [{{value[0]}}, {{value[1]}}],
            {% end %}
        }
        $("#add_filter").click(function () {
            console.log("add filter");
            var template = $("#template").clone(true);
            template.attr("id", "filter" + N);
            template.css("display", "block");
            template.addClass("filter")
//            template.insertAfter("#filters: first");
            $("#filters").append(template);
            N++;
        });

        $(".field_value").change(function () {
            var val = $(this).val();
            console.log(val);
            $(this).parent().find(".min").val(limits[val][0]);
            $(this).parent().find(".max").val(limits[val][1])
        });
        
        $("#apply_filter").click(function () {
            var data = {};
            $(".filter").each(function (index) {
                var key = $(this).find(".field_value").val();
                var min = $(this).find(".min").val();
                var max = $(this).find(".max").val();
                data[key] = [Number(min), Number(max)]
            });

            console.log(data);
            $("#apply_filter").text("Drawing in progress...");
            $("#progress").animate({
                "aria-valuenow" : "90%"
            },20000);
            $.post("/filter", {data:JSON.stringify(data), oid : $.urlParam("oid")}, function (data) {
                $("#apply_filter").text("Apply filter")
                console.log("Done");
                $("#progress").animate({
                    "aria-valuenow" : "100%"
                },400);
                window.location = "/download/filtered?id="+data

            })
        })
    })
</script>
{% end %}

{% block style %}
<style>
    .action-buttons-div a {
        margin-right: 3px;
    }
</style>
{% end %}



