{% extends 'base.html' %}


{% block content %}
	
	<div class="row-fluid">
		<div class="span12">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th class="hidden-phone">Time</th>
						<th class="hidden-480">Total samples</th>

						<th class="hidden-phone">m</th>
						<th class="hidden-phone">s0</th>
						<th class="hidden-phone">accepted</th>
						<th class="hidden-480">Minimum delta</th>
						<th class="hidden-480">Minimum iter</th>

						<th>DevPress</th>
						<th>DevPerm</th>
						<th>User</th>
						<th>Project</th>
						<th>FitNo</th>

						<th> Download </th>
					</tr>
				</thead>

				<tbody>
					{% for run in runs %}
					<tr>
						<td>
							<a class="submission_info" href="/filter?oid={{ run['_id'] }}">{{ (run["_id"]) }}</a>
						</td>
						<td>{{ run["meta"]["time"] }}</td>
						<td class="hidden-phone">{{ len(run["data"]["delta"])}}</td>
						<td>{{ run["meta"]["m"] }}</td>
						<td>{{ run["meta"]["S0"] }}</td>
						<td class="hidden-480">{{ run["data"]["accepted"].count(True) }}</td>
						
						<td class="hidden-480">{{ run["meta"]["min_delta"] }}</td>
						<td class="hidden-480">{{ int(run["meta"]["min_iter"]) }}</td>

						<th>{{ run["meta"]["devPress"]}}</th>
						<th>{{ run["meta"]["devPerm"]}}</th>
						<th>{{ run["meta"]["user"]}}</th>
						<th>{{ run["meta"]["project"]}}</th>
						<th>{{ int(run["meta"]["fit_no"]) }}</th>


						<th>
							<div class="btn-group">
													
								<button data-toggle="dropdown" class="btn btn-mini btn-info dropdown-toggle" aria-expanded="false">
							   		<i class="ace-icon fa icon-cloud-download icon-on-right"></i>
									Download	
								</button>

								<ul class="dropdown-menu dropdown-default" style="width:10px">
									<li>
										<a href="/download/tab?id={{ run['_id'] }}">Tab</a>
									</li>

									<li>
										<a href="/download/json?id={{ run['_id'] }}">JSON</a>
									</li>

									<li>
										<a href="/download/zip?id={{ run['_id'] }}">Zip</a>
									</li>
								</ul>
							</div>
						</th>
					</tr>
					{% end %}
				
				</tbody>
			</table>
		</div><!--/span-->
	</div><!--/row-->
	


{% end %}



{% block script %}

<script type="text/javascript">
$(document).ready(function(){


})
</script>

{% end %}

{% block style %}
<style>
.action-buttons-div a{
	margin-right:3px;
}
</style>
{% end %}
