{% extends 'base.html' %}

{% block style %}

{% end %}
{% block content %}
<style type="text/css">
  .custom {
    margin-left: 20px;
  }
  .custom > div {
    margin-right: 10px !important; 
    margin-bottom: 5px;
    width: 220px;
  }
  
  
</style>
  <div class="row-fluid">
    <div class="col-sm-6 custom">
    
      <div class="infobox infobox-green infobox-big infobox-dark">
        <div class="infobox-icon">
          <i class="ace-icon fa icon-home"></i>
        </div>

        <div class="infobox-data">
          <div class="infobox-content">Min Delta</div>
          <div class="infobox-content">{{ min_delta }}</div>
        </div>
      </div>

      <div class="infobox infobox-red infobox-big infobox-dark">
        <div class="infobox-icon">
          <i class="ace-icon fa icon-home"></i>
        </div>

        <div class="infobox-data">
          <div class="infobox-content">Iterations</div>
          <div class="infobox-content">{{ total_samples }}</div>
        </div>
      </div>

      <div class="infobox infobox-blue infobox-big infobox-dark">
        <div class="infobox-icon">
          <i class="ace-icon fa icon-home"></i>
        </div>

        <div class="infobox-data">
          <div class="infobox-content">Accepted</div>
          <div class="infobox-content">{{ accepted }}</div>
        </div>
      </div>

      <div class="infobox infobox-purple infobox-big infobox-dark">
        <div class="infobox-icon">
          <i class="ace-icon fa icon-home"></i>
        </div>

        <div class="infobox-data">
          <div class="infobox-content">S0</div>
          <div class="infobox-content">{{ s0 }}</div>
        </div>
      </div>

      
    <div class="infobox infobox-green infobox-big infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">m</div>
            <div class="infobox-content">{{ m }}</div>
          </div>
        </div>

        <div class="infobox infobox-blue2 infobox-big infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">Duration</div>
            <div class="infobox-content">placeholder</div>
          </div>
        </div>


        <div class="infobox infobox-blue3 infobox-big   infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">Health</div>
            <div class="infobox-content">{{ health }}</div>
          </div>
        </div>



        <div class="infobox infobox-green infobox-big   infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">Shoks</div>
            <div class="infobox-content">0</div>
          </div>
        </div>    


        <div class="infobox infobox-grey infobox-big   infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">Submission time</div>
            <div class="infobox-content">{{ time }}</div>
          </div>
        </div>

        <div class="infobox infobox-red infobox-big   infobox-dark">
          <div class="infobox-icon">
            <i class="ace-icon fa icon-home"></i>
          </div>

          <div class="infobox-data">
            <div class="infobox-content">Placeholder</div>
            <div class="infobox-content">100</div>
          </div>
        </div>    


    </div>

  </div>


<div id="dynamic_charts">
</div>
  <div class="row-fluid">
    <div class="span12">
      <div id='chartHist'></div>
    </div><!--/span-->
  </div><!--/row-->

<div class="row-fluid">
    <div class="span12">
      <div id='path0'></div>
    </div><!--/span-->
  </div><!--/row-->
<div class="row-fluid">
    <div class="span12">
      <div id='path1'></div>
    </div><!--/span-->
  </div><!--/row-->


{% end %}



{% block script %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

<script type="text/javascript">
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

charts = 0
FIELDS = []
plot_field("delta")

function plot_field(field) {
  var id = getUrlParameter('id')

  charts++
  var template = "<div class=\"row-fluid\">\
                    <div class=\"span12\">\
                      <div id=\"chart"+charts+"\"></div>\
                    </div><!--/span-->\
                  </div><!--/row-->"
  $("#dynamic_charts").append(template)

  $.get("/plot",{id:id, field: field}, function(data){
    data = JSON.parse(data)
    var chartData = {
      type: "line",  // Specify your chart type here.
      title: {
        text: field // Adds a title to your chart
      },
      legend: {}, // Creates an interactive legend
      series: [  // Insert your series data here.
          {
          values: data,
          text : field
          }
      ]
    };
    zingchart.render({ // Render Method[3]
      id: "chart"+charts,
      data: chartData,
      height: 400,
      width: $("#chart"+charts).parent().width() - 20
    });
  })

}

$(document).ready(function(){

  var id = getUrlParameter('id')
  console.log(id)

  $.get("/get_fields", {id : id}, function(data){
    data = JSON.parse(data)
    FIELDS = data
  })


  $.get("/histogram",{id:id}, function(data){
    data = JSON.parse(data)
    draw_hist(data)

  })

  $.get("/paths",{id:id}, function(data){
    data = JSON.parse(data)
    draw_paths(data)

  })


  // $.post("/run",{id:id}, function(data){
  //   console.log("data")  
  //   data = JSON.parse(data)
  //   deltas = data["deltas"]
  //   hist = data["histogram"]
  //   paths = data["paths"]
  //   // draw_delta(deltas)
  //   // draw_hist(hist)
  //   // draw_paths(paths)
  // })

  function draw_delta(data)
  {

    var chartData = {
      type: "line",  // Specify your chart type here.
      title: {
        text: "Delta" // Adds a title to your chart
      },
      legend: {}, // Creates an interactive legend
      series: [  // Insert your series data here.
          {
          values: data,
          text : "Delta"
          }
      ]
    };
    zingchart.render({ // Render Method[3]
      id: "chartDeltas",
      data: chartData,
      height: 400,
      width: $("#chartDeltas").parent().width() - 20
    });
  }

  function draw_paths(data) {
    chartData = function(k){
      return {
      "type": "scatter",
      "title": {
        text : "Path "+ (k+1).toString()
      },
      "series": [
          {"values": data[k]["data"]},
      ],
      "scale-x": {
        "min-value": data[k]["minx"],
        "max-value": data[k]["maxx"],
       },
      "scale-y": {
        "min-value": data[k]["miny"],
        "max-value": data[k]["maxy"],
       },
      }
    };
    console.log(data[0])
    zingchart.render({ // Render Method[3]
      id: "path0",
      data: chartData(0),
      height: 400,
      width: $("#path0").parent().width()
    });

    zingchart.render({ // Render Method[3]
      id: "path1",
      data: chartData(1),
      height: 400,
      width: $("#path1").parent().width()
    });
    // body...
  }
  function draw_hist(data)
  {

     var chartData = {
        "type": "bar",
        "plot": {
            "aspect": "histogram",
        },
        "title": {
          text : "Delta histogram"
        },
        "plotarea": {
            "adjust-layout": true,
        },
        "series": [
            {"values": data["data"] },
        ],
        "scale-x": {
            "progression": "lin",
            "min-value": 0,
            "max-value": data["max"],
            "step": data["step"],
            "decimals": 1,
        },
    };

    zingchart.render({ // Render Method[3]
      id: "chartHist",
      data: chartData,
      height: 400,
      width: $("#chartHist").parent().width()
    });
  }  

})
</script>

{% end %}

{% block style %}
<style>
.action-buttons-div a{
  margin-right:3px;
}
</style>
{% end %}



